.content__wrapper {
  margin: 4rem 0;

  @media only screen and (max-width: 768px) {
    margin: 1.5rem 0;
  }

  .form {
    margin: 1.5rem 0;

    @media only screen and (min-width: 1024px) {
      width: 600px;
      margin: 1.5rem auto;
    }

    .form__input {
      margin-bottom: 1rem;

      .helper__text {
        font-size: 0.8rem;
        color: #d32f2f;
        margin-top: 0.2rem;
      }
    }

    .submit__btn {
      text-transform: capitalize;
      font-size: 1.2rem;
      font-weight: 700;
      color: #fff;
      margin-top: 1rem;
    }
  }
}
