._wrapper {
  border-bottom: 1px solid #f3f4f6;
  padding: 10px 0px;

  ._mobile_nav_wrapper {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    .menuWrapper {
      cursor: pointer;
    }
  }

  ._title {
    font-family: 'IBM Plex Sans Arabic' !important ;
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 120%;
    text-align: left !important;
    color: #4b5563;

    @media only screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  ._subtitle {
    /* Body/Base/Semibold */

    font-family: 'IBM Plex Sans Arabic' !important ;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    color: #4b5563;
  }
}
