.wrapper {
  padding: 20px 0;
  .input_title {
    font-family: 'IBM Plex Sans Arabic' !important ;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #4b5563;
    margin-bottom: 10px;
  }
  .input {
    padding: 16px;
    background: #f9fafb;
    border: 0.75px solid #e5e7eb;
    border-radius: 8px;
    width: 100%;
    font-family: 'IBM Plex Sans Arabic' !important ;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;

    &:focus {
      border: 0.75px solid #e5e7eb;
      outline: none;
    }
  }

  .error_title {
    font-family: 'IBM Plex Sans Arabic' !important ;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: red;
    margin-top: 10px;
  }

  .select_box {
    padding: 16px;
    // gap: 8px;
    background: #f9fafb;
    border: 0.75px solid #e5e7eb;
    border-radius: 8px;
    width: 100%;
    font-family: 'IBM Plex Sans Arabic' !important ;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #4b5563;
    cursor: pointer;
    &:focus {
      border: 0.75px solid #e5e7eb;
      outline: none;
    }

    .single_select {
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #4b5563;
      // padding: 10px 15px;
    }
  }

  .button_wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .button_left_wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      .save_button {
        padding: 8px 12px;
        gap: 4px;
        height: 48px;
        width: 220px;
        background: #684cf9;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        font-family: 'IBM Plex Sans Arabic' !important ;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #f3f0ff;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
      .cancellation_button {
        padding: 8px 12px;
        width: 220px;
        height: 48px;
        border: 1px solid #f87171;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
        border-radius: 6px;
        font-family: 'IBM Plex Sans Arabic' !important ;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #f87171;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
    .button_right_wrapper {
      width: 100%;
      .next_button {
        // width: 120px;
        height: 48px;
        border: 1px solid #684cf9;
        font-family: 'IBM Plex Sans Arabic' !important ;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #684cf9;
        float: right;

        svg {
          font-size: 18px;
          font-weight: bold;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          margin-top: 12px;
        }
      }
    }
  }
}
