.content__wrapper {
  padding: 1.5rem 0;

  .form__input {
    margin-top: 1rem;
    background: #f9fafb;

    .date__input {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
      background: #f9fafb;
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none !important;

      &:hover {
        border: 1px solid #333 !important;
      }

      &:focus {
        border: 2px solid #684cf9 !important;
        border-color: #684cf9;
      }
    }

    .helper__text {
      font-size: 0.8rem;
      color: #d32f2f;
    }

    .date__input--error {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
      border-radius: 4px;
      border: 1px solid #d32f2f;
      border-color: #d32f2f !important;
      outline: none !important;

      &:focus {
        border: 2px solid #d32f2f;
      }
    }
  }

  .button__group {
    max-width: 500px;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;

    .submit__btn {
      font-weight: 600 !important;
    }
  }
}
