.wrapper {
  position: relative;
  .menuWrapper {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
    .tabsMobileMenu {
      position: fixed;
      top: 80px;
      left: 0;
      width: 50px;
      height: 50px;
      background: #684cf9;
      border-radius: 0 50% 50% 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      z-index: 999;
    }
  }

  // .left_wrapper {
  //   display: block;
  //   // position: fixed;
  //   @media screen and (max-width: 768px) {
  //     display: none;
  //   }
  // }

  .sidebar_wrapper {
    display: flex;

    .left_bar {
      display: block;
      width: 15%;
      @media screen and (max-width: 1440px) {
        width: 20%;
      }
      @media screen and (max-width: 1024px) {
        width: 25%;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
      .left_wrapper {
        position: fixed;
      }
    }
    .right_bar {
      width: 85%;
      @media screen and (max-width: 1440px) {
        width: 80%;
      }
      @media screen and (max-width: 1024px) {
        width: 75%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
