@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // font-family: "IBM Plex Sans Arabic", sans-serif;
}

body {
  // font-family: "IBM Plex Sans Arabic", sans-serif;
  button {
    box-shadow: none !important;
    text-transform: capitalize !important;
  }
}

.MuiListItemIcon-root {
  min-width: 30px !important;
  // background: transparent;
}

.MuiTableCell-root {
  font-family: 'IBM Plex Sans Arabic', sans-serif;

  border-bottom: 1px solid #e5e7eb;
  // padding: 0 10px !important;
}

.Mui-selected {
  h6 {
    color: #f2a515 !important;
  }
}

.image_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  border-width: 3px;
  border-radius: 8px;
  // border-color: ${(props) => getColor(props)};
  border-color: #684cf9;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  width: 100%;
  cursor: pointer;
}
