.settings {
  .settings__content {
    margin-top: 1rem;

    .heading {
      font-size: 1.4rem;
      font-weight: 500;
      @media only screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }

    .icons {
      font-size: 0.9rem;
      color: #6b7280;
    }
  }
}

.link {
  color: inherit !important;
  text-decoration: none !important;
}

.list {
  color: #9ca3af;
  padding-left: 5px !important;
}

.subscription_type {
  color: #6c6e70 !important;
  font-weight: 500 !important;
}
