.heroAreaWrapper {
  width: 100%;
  padding: 200px 0;

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }

  .mobileImage {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 30px;
      @media screen and (max-width: 600px) {
        border-radius: 0px;
      }
    }
  }

  .singleBox {
    @media screen and (max-width: 600px) {
      padding: 20px;
    }

    .titleWrapper {
      font-family: 'IBM Plex Sans Arabic';
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
      text-align: left;
      color: #f2a515;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        text-align: center;
        margin-top: 30px;
      }
      @media screen and (max-width: 600px) {
        font-size: 28.5209px;
        line-height: 120%;
        text-align: center;
        margin-top: 0;
      }
    }
    .subTitleWrapper {
      font-family: 'IBM Plex Sans Arabic';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: #4b5563;

      @media screen and (max-width: 600px) {
        font-size: 18.5209px;
        line-height: 120%;
      }
    }
  }
}
