.mobile__menu {
  display: block;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.content__wrapper {
  font-family: 'IBM Plex Sans Arabic', sans-serif;

  .form {
    .form__input {
      margin-top: 1rem;

      .input__label {
        font-size: 1.2rem !important;
      }

      .helper__text {
        color: #d32f2f;
      }
    }

    .submit__btn {
      font-size: 1.1rem !important;
      color: #fff !important;
      font-weight: 700 !important;
      text-transform: capitalize !important;
      margin: 3rem 0;
    }
  }
}
