.content__wrapper {
  padding: 1.5rem 0;

  .content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;
    }

    .add__coupon__wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }

      .link {
        text-decoration: none;
        color: inherit;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        button {
          font-family: 'IBM Plex Sans Arabic' !important ;
          font-weight: 600;
          font-size: 0.9rem;
          color: #f3f0ff !important;
          border-radius: 8px;
          padding: 0.5rem;
        }
      }

      button {
        font-family: 'IBM Plex Sans Arabic' !important ;
        font-weight: 600;
        font-size: 0.9rem;
        color: #4b5563;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 0.5rem;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .search__coupon__wrapper {
      display: flex;
      gap: 0.5rem;

      @media only screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
      }

      .search__field {
        width: 20rem;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        .search__input {
          height: 50px;
        }
      }

      .search__btn {
        background: #e5e7eb;
        font-family: 'IBM Plex Sans Arabic' !important ;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        text-align: center;
        color: #6b7280;
      }
    }
  }

  .content__table {
    margin: 1.5rem 0;

    .table__heading {
      font-size: 1.1rem;
      font-weight: 600;
      color: #111827;
    }

    .table__cell {
      font-size: 1rem;
      font-weight: 500;
      color: #6b7280;
    }

    .action__icons {
      display: flex;
      gap: 0.8rem;

      button {
        width: 34px !important;
        height: 34px !important;
        border-radius: 6px !important;
        background: #e5e7eb !important;
      }
    }
  }

  .pagination__wrapper {
    float: right;
    margin-bottom: 3rem;
  }
}
