._wrapper {
  box-shadow: none !important;
  background: #f9fafb !important;
  position: relative;
  width: 125%;
  display: block;
  box-sizing: border-box;
  height: 100vh;
  max-width: 275px;

  @media screen and (max-width: 1024px) {
    width: 100%;
    max-height: 100%;
  }

  ._logo_wrapper {
    border-bottom: 1px solid #f3f4f6;
    padding: 6px 0px;
    img {
      object-fit: contain;
    }
  }

  ._content {
    padding-top: 0 !important;
    margin-top: 10px;
    ._single_nav {
      padding: 12px 6px;
      margin-bottom: 5px;
      width: 100%;
      border-radius: 12px;

      &:hover {
        background: #684cf9;
      }

      &:hover ._single_title {
        color: #fff;
      }

      ._img_nav {
      }
      ._single_title {
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        text-align: left !important;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        /* or 26px */

        text-align: right;

        //   color: #718096;
      }
    }

    ._collapse_box {
      margin-top: 10px;
      background: #ffffff;
      border: 1px solid #f3f4f6;
      border-radius: 12px;
      // background: #000;

      ._single_nav {
        padding: 12px 6px;
        margin-bottom: 5px;
        &:hover {
          background: #684cf9;
          border-radius: 12px;
        }

        &:hover ._single_title {
          color: #fff;
        }
        ._single_title {
          font-family: 'IBM Plex Sans Arabic', sans-serif;
          text-align: left !important;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 120%;
          text-align: right;
          color: #718096;
        }
      }
    }

    ._last_wrapper {
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      width: 100%;
      background: #f9fafb !important;
    }
  }
}
