.wrapper {
  padding: 30px 0;
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .header_title {
      font-family: 'IBM Plex Sans Arabic';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 120%;
      color: #4b5563;
    }
    .header_button {
      padding: 8px 12px;
      width: 120px;
      height: 44px;
      background: #684cf9;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      font-family: 'IBM Plex Sans Arabic';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
      color: #f3f0ff;
    }
  }

  .content_wrapper {
    gap: 10px;
    padding: 16px;
    // gap: 8px;
    width: 100%;
    // height: 71px;
    background: #f9fafb;
    border: 0.75px solid #e5e7eb;
    border-radius: 8px;
    .content_title {
      font-family: 'IBM Plex Sans Arabic';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      text-align: right;
      color: #6b7280;
    }
  }
}
