.card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: none !important;
  box-sizing: border-box;
  .first_card {
    background: #f9f9f9;
    padding: 40px 20px;
    box-sizing: border-box;
    @media only screen and (max-width: 768px) {
      padding: 20px 10px;
    }
    .pkg_title {
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: #684cf9;
      margin-bottom: 10px;
    }
    .calories_title {
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: #4b5563;
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
  .second_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      padding: 20px 10px;
    }
    .second_title {
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: #6b7280;
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    .count_title {
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      display: flex;
      align-items: center;
      color: #111827;
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
  .third_card {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: 768px) {
      padding: 20px 10px;
    }

    .third_title {
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: #6b7280;
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }

    .week_title {
      font-family: 'IBM Plex Sans Arabic' !important ;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      display: flex;
      align-items: center;
      color: #111827;

      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
  .fourth_card {
    display: flex;
    align-items: center;
    justify-content: center;

    .button_wrapper {
      button {
        background: #e5e7eb;
        border: 0.568047px solid #d1d5db;
        border-radius: 6.05917px;
        padding: 6.05917px;
        color: #6b7280;
        cursor: pointer;
      }
    }
  }
}
